# Pycache stuff
app/__pycache__/
app/__pycache__/models.cpython-312.pyc
__pycache__/
*.pyc

# Pytest stuff
.pytest_cache/

# Pylit stuff
.pylintrc

# Env file
.env

# Obsidian
.obsidian

# temp
documentation.md